In [49]:
import pyspark
from pyspark.sql import SparkSession, Row, SQLContext
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from datetime import datetime, timedelta
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, sum
from datetime import datetime, timedelta
import os

In [50]:


spark = SparkSession\
    .builder\
    .master("local[4]")\
    .appName("sparkJob2")\
    .config("spark.eventLog.logBlockUpdates.enabled", True)\
    .enableHiveSupport() \
    .getOrCreate()

sc = spark.sparkContext

In [46]:
#add the path for the hive table on hdfs 


from pyspark.sql.functions import col, current_date, date_sub, to_date
tranformed_data = spark.read.orc("/user/hive/warehouse/transactionsdb.db/transactions_table/*")
tranformed_data.count()

557500

In [47]:

# Convert the 'transaction_date' to date type (assuming it's in 'yyyy-MM-dd' format, adjust format as needed)
transformed_data = tranformed_data.withColumn("transaction_date", to_date(col("transaction_date"), "yyyy-MM-dd"))

# Define the date 1.5 years ago from today
one_and_half_years_ago = date_sub(current_date(), int(1.5 * 365)+1)  # 1.5 years in days

# Filter the data where transaction_date is within the last 1.5 years
filtered_data = tranformed_data.filter(col("transaction_date") == one_and_half_years_ago)

filtered_data.count()

824

In [51]:
# Show the filtered DataFrame
filtered_data.show(truncate=False)

+----------------+----------------+-----------+--------------+--------------+---------------------------+--------------+---------+----------+-----------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+----+------+---------+------------------+---------+----+-----+
|transaction_date|transaction_id  |customer_id|customer_fname|cusomter_lname|cusomter_email             |sales_agent_id|branch_id|product_id|product_name     |product_category|offer_1|offer_2|offer_3|offer_4|offer_5|units|unit_price|is_online|payment_method|shipping_address|logs|source|discounts|total_paid        |city     |Year|Month|
+----------------+----------------+-----------+--------------+--------------+---------------------------+--------------+---------+----------+-----------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+----+------+---------+------------------+---------+----+-----+
|2023-01-04      |trx-927594255235|85511      |Alexander     |Moore         |alexander.moore@yahoo.com}4|6             |6        |14        |Camera           |Electronics     |null   |null   |null   |null   |null   |4    |399.99    |no       |Credit Card   |null            |null|null  |0.0      |1599.96           |not found|2023|1    |
|2023-01-04      |trx-118552684232|85527      |Emma          |Miller        |emma.miller@outlook.com}4  |10            |4        |29        |Hair Straightener|Appliances      |null   |null   |null   |null   |null   |6    |39.99     |no       |Cash          |null            |null|null  |0.0      |239.94            |not found|2023|1    |
|2023-01-04      |trx-837062780813|85521      |Olivia        |Moore         |olivia.moore@outlook.com'  |3             |3        |15        |Hoodie           |Clothing        |null   |null   |null   |null   |null   |7    |29.99     |no       |Cash          |null            |null|null  |0.0      |209.92999999999998|not found|2023|1    |
|2023-01-04      |trx-472657142991|85481      |Emma          |Johnson       |emma.johnson@gmail.com<    |11            |2        |29        |Hair Straightener|Appliances      |null   |True   |null   |null   |null   |3    |39.99     |no       |Credit Card   |null            |null|null  |0.1      |107.973           |not found|2023|1    |
|2023-01-04      |trx-882563113707|85547      |Olivia        |Smith         |olivia.smith@outlook.com#4r|6             |6        |27        |Iron             |Appliances      |True   |null   |null   |null   |null   |9    |29.99     |no       |Credit Card   |null            |null|null  |0.05     |256.4145          |not found|2023|1    |
|2023-01-04      |trx-661406376709|85549      |Olivia        |Brown         |olivia.brown@hotmail.com]x |4             |4        |9         |Boots            |Footwear        |True   |null   |null   |null   |null   |10   |129.99    |no       |Cash          |null            |null|null  |0.05     |1234.9050000000002|not found|2023|1    |
|2023-01-04      |trx-605612078911|85503      |William       |Jones         |william.jones@gmail.com]x  |8             |6        |7         |Dress            |Clothing        |null   |null   |True   |null   |null   |4    |59.99     |no       |Credit Card   |null            |null|null  |0.15     |203.966           |not found|2023|1    |
|2023-01-04      |trx-868939982235|85525      |Ava           |Jones         |ava.jones@yahoo.com'       |1             |6        |14        |Camera           |Electronics     |null   |True   |null   |null   |null   |6    |399.99    |no       |Credit Card   |null            |null|null  |0.1      |2159.946          |not found|2023|1    |
|2023-01-04      |trx-108134435678|85561      |Emma          |Wilson        |emma.wilson@outlook.com*   |2             |5        |7         |Dress            |Clothing        |null   |null   |null   |True   |null   |4    |59.99     |no       |Credit Card   |null            |null|null  |0.2      |191.96800000000002|not found|2023|1    |
|2023-01-04      |trx-341092229966|85466      |William       |Moore         |william.moore@hotmail.com* |1             |2        |13        |Printer          |Electronics     |null   |null   |null   |null   |null   |10   |149.99    |no       |Credit Card   |null            |null|null  |0.0      |1499.9            |not found|2023|1    |
|2023-01-04      |trx-130375942890|85528      |John          |Jones         |john.jones@yahoo.com(      |9             |4        |7         |Dress            |Clothing        |null   |null   |null   |True   |null   |9    |59.99     |no       |Cash          |null            |null|null  |0.2      |431.928           |not found|2023|1    |
|2023-01-04      |trx-707447074638|85525      |Ava           |Jones         |ava.jones@yahoo.com#4r     |4             |6        |25        |Washing Machine  |Appliances      |null   |True   |null   |null   |null   |3    |499.99    |no       |Credit Card   |null            |null|null  |0.1      |1349.973          |not found|2023|1    |
|2023-01-04      |trx-052011688358|85463      |Ava           |Miller        |ava.miller@gmail.com$u     |4             |4        |28        |Hair Dryer       |Appliances      |null   |null   |null   |null   |null   |8    |19.99     |no       |Credit Card   |null            |null|null  |0.0      |159.92            |not found|2023|1    |
|2023-01-04      |trx-305246396871|85507      |Olivia        |Moore         |olivia.moore@hotmail.com[  |2             |4        |2         |Smartphone       |Electronics     |null   |null   |null   |null   |null   |8    |699.99    |no       |Cash          |null            |null|null  |0.0      |5599.92           |not found|2023|1    |
|2023-01-04      |trx-157157315028|85505      |Emma          |Davis         |emma.davis@gmail.com;      |6             |1        |18        |Boots            |Footwear        |null   |null   |null   |null   |null   |3    |149.99    |no       |Credit Card   |null            |null|null  |0.0      |449.97            |not found|2023|1    |
|2023-01-04      |trx-786295536089|85549      |Olivia        |Brown         |olivia.brown@hotmail.com{  |9             |1        |29        |Hair Straightener|Appliances      |null   |null   |null   |null   |null   |4    |39.99     |no       |Credit Card   |null            |null|null  |0.0      |159.96            |not found|2023|1    |
|2023-01-04      |trx-004391283360|85491      |Emma          |Williams      |emma.williams@gmail.com<   |9             |4        |21        |Microwave        |Appliances      |null   |null   |null   |null   |True   |10   |129.99    |no       |Cash          |null            |null|null  |0.25     |974.9250000000001 |not found|2023|1    |
|2023-01-04      |trx-439869386403|85560      |Emma          |Wilson        |emma.wilson@gmail.com[     |4             |1        |29        |Hair Straightener|Appliances      |null   |null   |True   |null   |null   |3    |39.99     |no       |Credit Card   |null            |null|null  |0.15     |101.9745          |not found|2023|1    |
|2023-01-04      |trx-992224155022|85490      |John          |Miller        |john.miller@yahoo.com;     |9             |4        |1         |Laptop           |Electronics     |null   |null   |True   |null   |null   |1    |999.99    |no       |Cash          |null            |null|null  |0.15     |849.9915          |not found|2023|1    |
|2023-01-04      |trx-525845944671|85532      |William       |Taylor        |william.taylor@yahoo.com\  |1             |3        |23        |Toaster          |Appliances      |null   |True   |null   |null   |null   |4    |39.99     |no       |Cash          |null            |null|null  |0.1      |143.964           |not found|2023|1    |
+----------------+----------------+-----------+--------------+--------------+---------------------------+--------------+---------+----------+-----------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+----+------+---------+------------------+---------+----+-----+
only showing top 20 rows

In [64]:
from datetime import datetime, timedelta

# Function to get the previous day's date and the hour from 23 hours ago
def get_last_hour():
    now = datetime.now()
    last_day = now - timedelta(days=1)  # Subtract one day
    return last_day.strftime("%Y-%m-%d"), "23"  # Return previous day and hour 23

# Get the date and hour for the last hour
target_date, target_hour = get_last_hour()

# Base directory where your data is stored
base_dir = "/finalData/spark_project/sales_agents2"
dynamic_dir = f"date({target_date})"

# Full path to the directory
directory_path = os.path.join(base_dir, dynamic_dir)

# Print the directory path for debugging
print("Directory Path:", directory_path)

# Use glob to list all files in the directory
import glob

file_pattern = os.path.join(directory_path, '*')
all_files = glob.glob(file_pattern)

Directory Path: /finalData/spark_project/sales_agents2/date(2024-07-04)

In [65]:
agents = spark.read.csv(directory_path, header=True)
agents.count()

63

In [66]:
agents = agents.dropDuplicates(["sales_person_id"])
agents.count()

11

In [67]:
# Perform join and aggregation
result_df = tranformed_data.join(agents, tranformed_data.sales_agent_id == agents.sales_person_id, "inner") \
                          .groupBy("name", "product_name") \
                          .agg(sum("units").alias("total_sold_units")) \
                          .select("name", "product_name", "total_sold_units")

In [68]:
result_df.show()
result_df.count()

+------------------+-----------------+----------------+
|              name|     product_name|total_sold_units|
+------------------+-----------------+----------------+
|        Jane Smith|           Hoodie|          8664.0|
|          John Doe|             Iron|          8505.0|
|   Michael Johnson|               TV|          8310.0|
|          John Doe|          Sandals|         16600.0|
|      Sophia Moore|  Electric Kettle|          8338.0|
|      Olivia Davis|           Blouse|          8182.0|
|       Emily Brown|        Microwave|          8400.0|
|          John Doe|            Heels|          8364.0|
|Christopher Miller|            Heels|          8567.0|
|      David Wilson|  Washing Machine|          8389.0|
|Christopher Miller|          Monitor|          8239.0|
|       Emma Taylor|            Skirt|          8510.0|
|          John Doe|            Boots|         16591.0|
|Christopher Miller|Hair Straightener|          8374.0|
|   Michael Johnson|           Hoodie|          7868.0|
|       Emma Taylor|            Heels|          8318.0|
|       Emily Brown|            Boots|         16713.0|
|        Jane Smith|          T-Shirt|          8636.0|
|Christopher Miller|       Hair Dryer|          8501.0|
|          John Doe|  Washing Machine|          8713.0|
+------------------+-----------------+----------------+
only showing top 20 rows

308

In [69]:
df = result_df.coalesce(1)

In [70]:
# Write the DataFrame to a local CSV file with a header
df.write.option("header", "true").csv("file:///data/daily_dumb/daily_dumb.csv")