In [6]:

import pyspark
from pyspark.sql import SparkSession, Row, SQLContext
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from datetime import datetime, timedelta
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr
from datetime import datetime, timedelta
import os

spark = SparkSession\
    .builder\
    .master("local[4]")\
    .appName("sparkJob1")\
    .config("spark.eventLog.logBlockUpdates.enabled", True)\
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

sc = spark.sparkContext

In [7]:

# Function to get the last hour's date and hour
def get_last_hour():
    now = datetime.now() 
    last_hour = now 
    return last_hour.strftime("%Y-%m-%d"), last_hour.strftime("%H")

# Get the date and hour for the last hour
target_date, target_hour = get_last_hour() 

# Base directory where your data is stored
base_dir = "/lastDEMO/spark_project/sales_transactions2"
dynamic_dir = f"date({target_date})"

# Full path to the directory
directory_path = os.path.join(base_dir, dynamic_dir)

# Print the directory path for debugging
print(f"Checking directory: {directory_path}")
directory_path1 = os.path.join(directory_path,f"sales_transactions_SS_raw_*_{target_hour}.csv" )
print(directory_path1)

Checking directory: /lastDEMO/spark_project/sales_transactions2/date(2024-07-06)
/lastDEMO/spark_project/sales_transactions2/date(2024-07-06)/sales_transactions_SS_raw_*_17.csv

In [46]:
#the right this is to but the varible insteed of the file path
data = spark.read.csv(directory_path1, header=True)

# Counting the number of rows
count = data.count()

print(count)

1500

In [47]:

from pyspark.sql.functions import col, sum as spark_sum

# Calculate the null counts for each column
null_counts = data.select([spark_sum(col(c).isNull().cast("int")).alias(c) for c in data.columns])

# Convert the null counts to a list of tuples
null_counts_list = [(c, null_counts.collect()[0][c]) for c in data.columns]

# Create a new DataFrame for null counts
null_counts_df = spark.createDataFrame(null_counts_list, ["Column", "NullCount"])

# Show the null counts in tabular form
null_counts_df.show(40)

+----------------+---------+
|          Column|NullCount|
+----------------+---------+
|transaction_date|        0|
|  transaction_id|        0|
|     customer_id|        0|
|  customer_fname|        0|
|  cusomter_lname|        0|
|  cusomter_email|        0|
|  sales_agent_id|      500|
|       branch_id|      500|
|      product_id|        0|
|    product_name|        0|
|product_category|        0|
|         offer_1|     1347|
|         offer_2|     1356|
|         offer_3|     1332|
|         offer_4|     1355|
|         offer_5|     1374|
|           units|        0|
|      unit_price|        0|
|       is_online|        0|
|  payment_method|        0|
|shipping_address|     1000|
+----------------+---------+

In [48]:
# List of columns to fill with their default values
fill_values = {
    "sales_agent_id": 0,
    "branch_id": 0,
    "shipping_address": "not available",
    "source": "not found",
    "logs": "not found"
}

# Get the current columns in the DataFrame
current_columns = data.columns

# Filter the fill_values dictionary to include only the columns that are present in the DataFrame
dynamic_fill_values = {col: fill_values[col] for col in fill_values if col in current_columns}

# Print the dynamic fill values dictionary for debugging
print(f"Dynamic fill values: {dynamic_fill_values}")

# Apply the fill operation with the dynamically constructed dictionary
data = data.na.fill(dynamic_fill_values)

# Show the first few rows to verify the changes (optional)
data.show()

Dynamic fill values: {'sales_agent_id': 0, 'branch_id': 0, 'shipping_address': 'not available'}
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+
|transaction_date|  transaction_id|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|   product_name|product_category|offer_1|offer_2|offer_3|offer_4|offer_5|units|unit_price|is_online|payment_method|shipping_address|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+
|       2023-5-20|trx-152546429674|      85469|     Alexander|         Brown|alexander.brown@g...|             1|        2|        22|   Coffee Maker|      Appliances|   null|   null|   null|   null|   null|   10|     79.99|       no|          Cash|   not available|
|      2022-10-25|trx-291375327542|      85512|       William|         Brown|william.brown@gma...|             3|        1|        24|        Blender|      Appliances|   null|   null|   null|   True|   null|    5|     49.99|       no|          Cash|   not available|
|        2022-2-5|trx-312507679871|      85484|          John|      Williams|john.williams@gma...|            10|        3|         4|     Headphones|     Electronics|   null|   null|   null|   null|   null|    1|     99.99|       no|   Credit Card|   not available|
|      2023-10-20|trx-193384855491|      85528|     Alexander|        Miller|alexander.miller@...|             7|        2|        25|Washing Machine|      Appliances|   null|   null|   null|   null|   null|    8|    499.99|       no|          Cash|   not available|
|      2022-11-17|trx-831626097654|      85500|          John|         Brown|john.brown@hotmai...|             5|        1|        14|         Camera|     Electronics|   null|   null|   True|   null|   null|   10|    399.99|       no|          Cash|   not available|
|       2022-9-27|trx-158496122054|      85545|        Sophia|        Wilson|sophia.wilson@hot...|             4|        5|        14|         Camera|     Electronics|   null|   null|   null|   null|   True|    6|    399.99|       no|   Credit Card|   not available|
|       2022-4-21|trx-722817999024|      85561|     Alexander|         Moore|alexander.moore@y...|             4|        1|        30|Electric Kettle|      Appliances|   null|   null|   null|   True|   null|    6|     24.99|       no|   Credit Card|   not available|
|       2023-4-28|trx-813287633702|      85520|     Alexander|        Wilson|alexander.wilson@...|             1|        1|        26| Vacuum Cleaner|      Appliances|   null|   null|   null|   null|   null|    4|    199.99|       no|          Cash|   not available|
|        2023-3-8|trx-219568257432|      85488|       Michael|        Miller|michael.miller@ya...|             6|        2|        18|          Boots|        Footwear|   null|   null|   null|   null|   null|   10|    149.99|       no|   Credit Card|   not available|
|       2023-6-17|trx-352160720823|      85466|       Michael|         Brown|michael.brown@yah...|             5|        2|        16|          Skirt|        Clothing|   null|   null|   null|   null|   null|    8|     39.99|       no|          Cash|   not available|
|       2022-8-28|trx-895389231641|      85559|          John|        Taylor|john.taylor@yahoo...|             6|        5|        14|         Camera|     Electronics|   null|   null|   null|   null|   null|    6|    399.99|       no|          Cash|   not available|
|      2023-11-19|trx-820309386661|      85527|     Alexander|         Davis|alexander.davis@y...|             7|        2|        22|   Coffee Maker|      Appliances|   null|   null|   null|   null|   null|    6|     79.99|       no|   Credit Card|   not available|
|       2022-3-22|trx-974983174642|      85502|       Michael|         Brown|michael.brown@hot...|             4|        5|         5|        T-Shirt|        Clothing|   True|   null|   null|   null|   null|   10|     19.99|       no|          Cash|   not available|
|       2022-9-27|trx-119174604031|      85508|         James|         Smith|james.smith@yahoo...|             1|        3|         9|          Boots|        Footwear|   null|   null|   null|   null|   null|    1|    129.99|       no|   Credit Card|   not available|
|        2022-4-3|trx-474525094645|      85549|          Emma|       Johnson|emma.johnson@hotm...|             2|        3|         2|     Smartphone|     Electronics|   null|   null|   null|   null|   null|    9|    699.99|       no|   Credit Card|   not available|
|      2022-12-14|trx-355633008132|      85483|          John|       Johnson|john.johnson@yaho...|             9|        5|        27|           Iron|      Appliances|   null|   True|   null|   null|   null|    9|     29.99|       no|   Credit Card|   not available|
|       2023-4-14|trx-490311940006|      85496|         James|         Davis|james.davis@yahoo...|             8|        2|        19|        Sandals|        Footwear|   null|   True|   null|   null|   null|    2|     29.99|       no|   Credit Card|   not available|
|       2023-1-19|trx-132205124356|      85507|           Ava|        Miller|ava.miller@outloo...|             2|        2|        28|     Hair Dryer|      Appliances|   null|   null|   null|   null|   null|    3|     19.99|       no|          Cash|   not available|
|      2023-10-14|trx-276319959382|      85543|        Olivia|         Brown|olivia.brown@outl...|            10|        5|        24|        Blender|      Appliances|   null|   null|   null|   null|   null|   10|     49.99|       no|          Cash|   not available|
|       2022-3-24|trx-024853282614|      85518|        Sophia|         Brown|sophia.brown@gmai...|             1|        4|         3|         Tablet|     Electronics|   null|   null|   True|   null|   null|    1|    299.99|       no|          Cash|   not available|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+
only showing top 20 rows

In [49]:
#check for duplictes

duplicates = data.groupBy(data.columns).count().filter(col("count") > 1)

# Sum the counts of duplicate rows and subtract the number of unique duplicate groups
total_duplicate_count = duplicates.select(spark_sum(col("count") - 1).alias("total_duplicates")).collect()[0]["total_duplicates"]

print(f"Total number of duplicate rows: {total_duplicate_count}")

Total number of duplicate rows: None

In [50]:
#drop duplictes
data = data.dropDuplicates()

In [51]:
#callculate discount 
from pyspark.sql.functions import when, col
data = data.withColumn(
    "discounts",
    when(col("offer_1") == True, 0.05)
    .when(col("offer_2") == True, 0.10)
    .when(col("offer_3") == True, 0.15)
    .when(col("offer_4") == True, 0.20)
    .when(col("offer_5") == True, 0.25)
    .otherwise(0.0)
)
data.show(3)

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+
|transaction_date|  transaction_id|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|product_name|product_category|offer_1|offer_2|offer_3|offer_4|offer_5|units|unit_price|is_online|payment_method|shipping_address|discounts|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+
|        2022-9-7|trx-672299323430|      85536|          John|         Brown|john.brown@hotmai...|             1|        3|        20|       Heels|        Footwear|   null|   null|   null|   null|   null|    3|     59.99|       no|          Cash|   not available|      0.0|
|       2022-6-15|trx-817564853293|      85483|          John|       Johnson|john.johnson@yaho...|             3|        3|        17|      Blouse|        Clothing|   null|   null|   null|   null|   True|    8|     29.99|       no|   Credit Card|   not available|     0.25|
|       2023-3-25|trx-641718779539|      85532|       Michael|         Brown|michael.brown@yah...|             5|        5|        11|          TV|     Electronics|   null|   null|   null|   null|   null|    6|    899.99|       no|          Cash|   not available|      0.0|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+
only showing top 3 rows

In [45]:
data.show(5)

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+---------+---------+
|transaction_date|  transaction_id|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|product_name|product_category|offer_1|offer_2|offer_3|offer_4|offer_5|units|unit_price|is_online|payment_method|shipping_address|     logs|   source|discounts|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+---------+---------+
|       2022-3-21|trx-240718692783|      85519|           Mia|         Moore|mia.moore@outlook...|             9|        5|        22|Coffee Maker|      Appliances|   null|   True|   null|   null|   null|    5|     79.99|       no|   Credit Card|   not available|not found|not found|      0.1|
|       2023-11-8|trx-252492897739|      85487|          John|        Miller|john.miller@hotma...|            10|        1|        21|   Microwave|      Appliances|   null|   null|   null|   null|   null|    7|    129.99|       no|          Cash|   not available|not found|not found|      0.0|
|       2023-4-16|trx-729363962425|      85494|       William|         Jones|william.jones@out...|            11|        2|         7|       Dress|        Clothing|   null|   True|   null|   null|   null|    2|     59.99|       no|          Cash|   not available|not found|not found|      0.1|
|        2022-3-7|trx-591430414291|      85471|        Olivia|         Smith|olivia.smith@yaho...|             2|        3|         2|  Smartphone|     Electronics|   null|   null|   null|   null|   null|    1|    699.99|       no|   Credit Card|   not available|not found|not found|      0.0|
|       2023-10-4|trx-951171719752|      85488|          Emma|       Johnson|emma.johnson@gmai...|             3|        6|        27|        Iron|      Appliances|   null|   null|   True|   null|   null|    2|     29.99|       no|   Credit Card|   not available|not found|not found|     0.15|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+---------+---------+
only showing top 5 rows

In [52]:
from pyspark.sql.functions import coalesce, col, lit, when

columns = ['offer_1', 'offer_2', 'offer_3', 'offer_4','offer_5']



# Create the 'offer' column based on the condition
df = data.withColumn('offer',
                   when(col('offer_1') == 'True', 1)
                   .when(col('offer_2') == 'True', 2)
                   .when(col('offer_3') == 'True', 3)
                   .when(col('offer_4') == 'True', 4)
                   .when(col('offer_5') == 'True', 5)
                   .otherwise(None))

# Drop the original offer columns if needed
data = df.drop(*columns)

# Show the result
data.show()

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+---------+-----+
|transaction_date|  transaction_id|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|     product_name|product_category|units|unit_price|is_online|payment_method|    shipping_address|discounts|offer|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+---------+-----+
|        2022-9-7|trx-672299323430|      85536|          John|         Brown|john.brown@hotmai...|             1|        3|        20|            Heels|        Footwear|    3|     59.99|       no|          Cash|       not available|      0.0| null|
|       2022-6-15|trx-817564853293|      85483|          John|       Johnson|john.johnson@yaho...|             3|        3|        17|           Blouse|        Clothing|    8|     29.99|       no|   Credit Card|       not available|     0.25|    5|
|       2023-3-25|trx-641718779539|      85532|       Michael|         Brown|michael.brown@yah...|             5|        5|        11|               TV|     Electronics|    6|    899.99|       no|          Cash|       not available|      0.0| null|
|       2023-3-18|trx-488140115830|      85472|           Ava|         Smith|ava.smith@outlook...|             2|        3|        25|  Washing Machine|      Appliances|    4|    499.99|       no|          Cash|       not available|      0.2|    4|
|       2022-8-18|trx-732483728822|      85543|        Olivia|         Brown|olivia.brown@outl...|             0|        0|         1|           Laptop|     Electronics|   10|    999.99|      yes|   Credit Card|3483 Canyon Creek...|      0.2|    4|
|       2023-2-17|trx-073978015822|      85464|          Emma|      Williams|emma.williams@out...|             0|        0|        18|            Boots|        Footwear|    4|    149.99|      yes|        Stripe|9008 Grayson Grov...|      0.0| null|
|       2023-1-12|trx-852858823303|      85532|       Michael|         Brown|michael.brown@yah...|             1|        5|        26|   Vacuum Cleaner|      Appliances|    6|    199.99|       no|   Credit Card|       not available|     0.05|    1|
|       2022-8-15|trx-633681330064|      85507|           Ava|        Miller|ava.miller@outloo...|             5|        2|        29|Hair Straightener|      Appliances|    3|     39.99|       no|   Credit Card|       not available|      0.2|    4|
|        2023-5-8|trx-408942530842|      85491|     Alexander|        Wilson|alexander.wilson@...|            10|        2|         6|            Jeans|        Clothing|    4|     49.99|       no|          Cash|       not available|      0.0| null|
|       2023-1-14|trx-061411588899|      85486|         James|       Johnson|james.johnson@yah...|             0|        0|         9|            Boots|        Footwear|    7|    129.99|      yes|        PayPal|8028 North 56th L...|      0.0| null|
|       2022-6-25|trx-848112316525|      85504|          John|       Johnson|john.johnson@hotm...|             0|        0|         7|            Dress|        Clothing|    9|     59.99|      yes|   Credit Card|1815 Grove Hill L...|      0.0| null|
|        2022-1-1|trx-961186738199|      85540|       William|        Wilson|william.wilson@gm...|             0|        0|         9|            Boots|        Footwear|    8|    129.99|      yes|        PayPal|45 Parsons Avenue...|     0.25|    5|
|      2023-10-10|trx-742866826677|      85552|        Olivia|         Davis|olivia.davis@outl...|             0|        0|        19|          Sandals|        Footwear|    8|     29.99|      yes|   Credit Card|7725 Ney Avenue/O...|     0.25|    5|
|       2023-4-14|trx-615744130593|      85484|          John|      Williams|john.williams@gma...|             8|        1|        15|           Hoodie|        Clothing|    5|     29.99|       no|   Credit Card|       not available|     0.25|    5|
|       2023-3-25|trx-528657438563|      85546|     Alexander|       Johnson|alexander.johnson...|             5|        4|        19|          Sandals|        Footwear|    3|     29.99|       no|   Credit Card|       not available|     0.25|    5|
|       2023-9-24|trx-011554971106|      85558|           Ava|      Williams|ava.williams@yaho...|             1|        4|        14|           Camera|     Electronics|    5|    399.99|       no|   Credit Card|       not available|     0.15|    3|
|      2022-12-17|trx-936284967406|      85524|          John|         Jones|john.jones@yahoo....|             3|        2|        30|  Electric Kettle|      Appliances|    9|     24.99|       no|          Cash|       not available|      0.0| null|
|       2022-3-22|trx-752540628294|      85552|        Olivia|         Davis|olivia.davis@outl...|             2|        3|        19|          Sandals|        Footwear|   10|     29.99|       no|          Cash|       not available|      0.2|    4|
|       2022-2-23|trx-616906345392|      85546|     Alexander|       Johnson|alexander.johnson...|             1|        4|         2|       Smartphone|     Electronics|    6|    699.99|       no|          Cash|       not available|      0.0| null|
|        2022-7-1|trx-804384518230|      85546|     Alexander|       Johnson|alexander.johnson...|             6|        4|        24|          Blender|      Appliances|    9|     49.99|       no|          Cash|       not available|     0.05|    1|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+---------+-----+
only showing top 20 rows

In [53]:
from pyspark.sql.functions import split, col, when

# Split the shipping_address into components
df = data.withColumn('address_split', split(df['shipping_address'], '/'))

# Create new columns for city, state, and postal_code based on the condition
df = df.withColumn(
    'city',
    when(col('is_online') == 'yes', col('address_split').getItem(1))
    .otherwise("not found")
).withColumn(
    'state',
    when(col('is_online') == 'yes', col('address_split').getItem(2))
    .otherwise("not found")
).withColumn(
    'postal_code',
    when(col('is_online') == 'yes', col('address_split').getItem(3))
    .otherwise("not found")
)

# Drop the temporary address_split column if not needed
data= df.drop('address_split')

# Show the result
data.show()

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+---------+-----+-----------------+---------+-----------+
|transaction_date|  transaction_id|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|     product_name|product_category|units|unit_price|is_online|payment_method|    shipping_address|discounts|offer|             city|    state|postal_code|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+---------+-----+-----------------+---------+-----------+
|        2022-9-7|trx-672299323430|      85536|          John|         Brown|john.brown@hotmai...|             1|        3|        20|            Heels|        Footwear|    3|     59.99|       no|          Cash|       not available|      0.0| null|        not found|not found|  not found|
|       2022-6-15|trx-817564853293|      85483|          John|       Johnson|john.johnson@yaho...|             3|        3|        17|           Blouse|        Clothing|    8|     29.99|       no|   Credit Card|       not available|     0.25|    5|        not found|not found|  not found|
|       2023-3-25|trx-641718779539|      85532|       Michael|         Brown|michael.brown@yah...|             5|        5|        11|               TV|     Electronics|    6|    899.99|       no|          Cash|       not available|      0.0| null|        not found|not found|  not found|
|       2023-3-18|trx-488140115830|      85472|           Ava|         Smith|ava.smith@outlook...|             2|        3|        25|  Washing Machine|      Appliances|    4|    499.99|       no|          Cash|       not available|      0.2|    4|        not found|not found|  not found|
|       2022-8-18|trx-732483728822|      85543|        Olivia|         Brown|olivia.brown@outl...|             0|        0|         1|           Laptop|     Electronics|   10|    999.99|      yes|   Credit Card|3483 Canyon Creek...|      0.2|    4|         San Jose|       CA|      95132|
|       2023-2-17|trx-073978015822|      85464|          Emma|      Williams|emma.williams@out...|             0|        0|        18|            Boots|        Footwear|    4|    149.99|      yes|        Stripe|9008 Grayson Grov...|      0.0| null|       Montgomery|       AL|      36117|
|       2023-1-12|trx-852858823303|      85532|       Michael|         Brown|michael.brown@yah...|             1|        5|        26|   Vacuum Cleaner|      Appliances|    6|    199.99|       no|   Credit Card|       not available|     0.05|    1|        not found|not found|  not found|
|       2022-8-15|trx-633681330064|      85507|           Ava|        Miller|ava.miller@outloo...|             5|        2|        29|Hair Straightener|      Appliances|    3|     39.99|       no|   Credit Card|       not available|      0.2|    4|        not found|not found|  not found|
|        2023-5-8|trx-408942530842|      85491|     Alexander|        Wilson|alexander.wilson@...|            10|        2|         6|            Jeans|        Clothing|    4|     49.99|       no|          Cash|       not available|      0.0| null|        not found|not found|  not found|
|       2023-1-14|trx-061411588899|      85486|         James|       Johnson|james.johnson@yah...|             0|        0|         9|            Boots|        Footwear|    7|    129.99|      yes|        PayPal|8028 North 56th L...|      0.0| null|         Glendale|       AZ|      85302|
|       2022-6-25|trx-848112316525|      85504|          John|       Johnson|john.johnson@hotm...|             0|        0|         7|            Dress|        Clothing|    9|     59.99|      yes|   Credit Card|1815 Grove Hill L...|      0.0| null|       Montgomery|       AL|      36106|
|        2022-1-1|trx-961186738199|      85540|       William|        Wilson|william.wilson@gm...|             0|        0|         9|            Boots|        Footwear|    8|    129.99|      yes|        PayPal|45 Parsons Avenue...|     0.25|    5|Saint Albans City|       VT|      05478|
|      2023-10-10|trx-742866826677|      85552|        Olivia|         Davis|olivia.davis@outl...|             0|        0|        19|          Sandals|        Footwear|    8|     29.99|      yes|   Credit Card|7725 Ney Avenue/O...|     0.25|    5|          Oakland|       CA|      94605|
|       2023-4-14|trx-615744130593|      85484|          John|      Williams|john.williams@gma...|             8|        1|        15|           Hoodie|        Clothing|    5|     29.99|       no|   Credit Card|       not available|     0.25|    5|        not found|not found|  not found|
|       2023-3-25|trx-528657438563|      85546|     Alexander|       Johnson|alexander.johnson...|             5|        4|        19|          Sandals|        Footwear|    3|     29.99|       no|   Credit Card|       not available|     0.25|    5|        not found|not found|  not found|
|       2023-9-24|trx-011554971106|      85558|           Ava|      Williams|ava.williams@yaho...|             1|        4|        14|           Camera|     Electronics|    5|    399.99|       no|   Credit Card|       not available|     0.15|    3|        not found|not found|  not found|
|      2022-12-17|trx-936284967406|      85524|          John|         Jones|john.jones@yahoo....|             3|        2|        30|  Electric Kettle|      Appliances|    9|     24.99|       no|          Cash|       not available|      0.0| null|        not found|not found|  not found|
|       2022-3-22|trx-752540628294|      85552|        Olivia|         Davis|olivia.davis@outl...|             2|        3|        19|          Sandals|        Footwear|   10|     29.99|       no|          Cash|       not available|      0.2|    4|        not found|not found|  not found|
|       2022-2-23|trx-616906345392|      85546|     Alexander|       Johnson|alexander.johnson...|             1|        4|         2|       Smartphone|     Electronics|    6|    699.99|       no|          Cash|       not available|      0.0| null|        not found|not found|  not found|
|        2022-7-1|trx-804384518230|      85546|     Alexander|       Johnson|alexander.johnson...|             6|        4|        24|          Blender|      Appliances|    9|     49.99|       no|          Cash|       not available|     0.05|    1|        not found|not found|  not found|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+---------+-----+-----------------+---------+-----------+
only showing top 20 rows

In [54]:
#add total paid 
data = data.withColumn(
    "total_paid",
    (col("units") * col("unit_price")) - (col("units") * col("unit_price") * col("discounts"))
)

In [55]:

#handling email problems 
from pyspark.sql.functions import regexp_replace
data = data.withColumn("cusomter_email", regexp_replace("cusomter_email", r"\.com.*", ".com"))
display(data.head(1))

[Row(transaction_date='2022-9-7', transaction_id='trx-672299323430', customer_id='85536', customer_fname='John', cusomter_lname='Brown', cusomter_email='john.brown@hotmail.com', sales_agent_id='1', branch_id='3', product_id='20', product_name='Heels', product_category='Footwear', units='3', unit_price='59.99', is_online='no', payment_method='Cash', shipping_address='not available', discounts=0.0, offer=None, city='not found', state='not found', postal_code='not found', total_paid=179.97)]

In [56]:

from pyspark.sql.functions import current_date, year, month
from pyspark.sql.functions import to_date
print(data.dtypes)
data = data.withColumn("transaction_date", to_date(data["transaction_date"], "yyyy-M-d"))
# Add the current extraction date
data = data.withColumn("extraction_date", current_date())

# Extract year and month from the extraction date
data = data.withColumn("Extraction_Year", year(data["extraction_date"])) \
           .withColumn("Extraction_Month", month(data["extraction_date"]))

[('transaction_date', 'string'), ('transaction_id', 'string'), ('customer_id', 'string'), ('customer_fname', 'string'), ('cusomter_lname', 'string'), ('cusomter_email', 'string'), ('sales_agent_id', 'string'), ('branch_id', 'string'), ('product_id', 'string'), ('product_name', 'string'), ('product_category', 'string'), ('units', 'string'), ('unit_price', 'string'), ('is_online', 'string'), ('payment_method', 'string'), ('shipping_address', 'string'), ('discounts', 'double'), ('offer', 'int'), ('city', 'string'), ('state', 'string'), ('postal_code', 'string'), ('total_paid', 'double')]

In [57]:
#get info about the data 
distinct_years_count = data.select("Extraction_Year").distinct().count()
print(f"Distinct Years Count: {distinct_years_count}")

# Count distinct months
distinct_months_count = data.select("Extraction_Month").distinct().count()
print(f"Distinct Months Count: {distinct_months_count}")

# Count rows grouped by year and month
grouped_counts = data.groupBy( "Extraction_Month").count()

# Show the grouped counts
print("Row counts grouped by Year and Month:")
grouped_counts.show()

Distinct Years Count: 1
Distinct Months Count: 1
Row counts grouped by Year and Month:
+----------------+-----+
|Extraction_Month|count|
+----------------+-----+
|               7| 1500|
+----------------+-----+

In [58]:
from pyspark.sql import functions as f

rdd = data.rdd
num_partitions = rdd.getNumPartitions()
print(num_partitions)
data.rdd.glom().map(lambda p: len(p)).collect()
data.rdd.glom().map(lambda p: set([i[-1] for i in p])).collect()
data.groupBy(f.spark_partition_id()).count().show()

200
+--------------------+-----+
|SPARK_PARTITION_ID()|count|
+--------------------+-----+
|                 148|    7|
|                  31|    7|
|                  85|    8|
|                 137|    9|
|                  65|   10|
|                  53|    8|
|                 133|    6|
|                  78|    3|
|                 108|    6|
|                 155|    4|
|                  34|    5|
|                 193|    8|
|                 101|    7|
|                 115|    8|
|                 126|   10|
|                  81|   10|
|                  28|    5|
|                 183|    7|
|                  76|   12|
|                  26|    8|
+--------------------+-----+
only showing top 20 rows

In [60]:
data = data.coalesce(1)

In [17]:
spark.sql("CREATE DATABASE IF NOT EXISTS TransactionDataBase ")
databases = spark.sql("SHOW DATABASES")
databases.show()

+-------------------+
|          namespace|
+-------------------+
|                db2|
|            default|
|              newdb|
|             newdb1|
|       sparkproject|
|      sparkproject1|
|      sparkproject2|
|transactiondatabase|
|     transactionsdb|
+-------------------+

In [62]:
try:
    # Save the DataFrame as a Hive table with multi-level partitioning and bucketing
    single_partition_df.write.format("orc") \
        .bucketBy(8, "product_name") \
        .sortBy("product_name") \
        .partitionBy("Extraction_Year", "Extraction_Month") \
        .mode("overwrite") \
        .saveAsTable("TransactionsDB.Transactions_Table")

    print("Table created successfully.")
except Exception as e:
    print(f"Error creating table: {e}")

Table created successfully.

In [20]:
from pyspark.sql.functions import concat, col, year, month, dayofmonth, quarter, date_format
customer_dim_df = data.select(
    "customer_id",
    "customer_fname",
    "cusomter_lname",  # Keep the typo if it exists in the data
    "cusomter_email"
).distinct()

In [21]:
product_dim_df = data.select(
    "product_id",
    "product_name",
    "product_category"
).distinct()

In [28]:
from pyspark.sql.functions import concat, lit

# Correctly using concat with lit
sales_data_with_location = data.select(
    concat(col("city"), lit("-"), col("state"), lit("-"), col("postal_code")).alias("location_id"),
    "city",
    "state",
    "postal_code"
).distinct()

In [24]:
from pyspark.sql.functions import dayofmonth, month, year, quarter, date_format

date_dim_df = data.select(
    "transaction_date",
    dayofmonth("transaction_date").alias("day"),
    month("transaction_date").alias("month"),
    year("transaction_date").alias("year"),
    quarter("transaction_date").alias("quarter"),
    date_format("transaction_date", "EEEE").alias("day_name")
).distinct()

In [31]:
from pyspark.sql import functions as F

fact_df = data.select(
    "transaction_id",
    "customer_id",
    "sales_agent_id",
    "branch_id",
    "product_id",
    F.concat_ws("-", "city", "state", "postal_code").alias("location_id"),
    "transaction_date",
    "offer",
    "is_online",
    F.col("units").cast("int").alias("units"),
    F.col("unit_price").cast("double").alias("unit_price"),
    "total_paid",
    "Extraction_Year",
    "Extraction_Month"
)

In [15]:
df = spark.read.orc("/user/hive/warehouse/transactionsdb.db/transactions_table/*")
df.show(20)

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+---------+------------------+---------------+----------------+
|transaction_date|  transaction_id|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|   product_name|product_category|offer_1|offer_2|offer_3|offer_4|offer_5|units|unit_price|is_online|payment_method|shipping_address|discounts|     city|        total_paid|extraction_date|Extraction_Month|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+---------+------------------+---------------+----------------+
|      2022-04-21|trx-722817999024|      85561|     Alexander|         Moore|alexander.moore@y...|             4|        1|        30|Electric Kettle|      Appliances|  false|  false|  false|   True|  false|    6|     24.99|       no|   Credit Card|   not available|      0.2|not found|           119.952|     2024-07-05|               7|
|      2023-05-10|trx-647743402933|      85558|           Ava|      Williams|ava.williams@yaho...|            10|        5|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    1|     24.99|       no|          Cash|   not available|      0.0|not found|             24.99|     2024-07-05|               7|
|      2023-08-18|trx-841564414963|      85535|       William|        Taylor|william.taylor@ho...|             5|        3|        30|Electric Kettle|      Appliances|  false|  false|   True|  false|  false|    8|     24.99|       no|   Credit Card|   not available|     0.15|not found|           169.932|     2024-07-05|               7|
|      2022-01-16|trx-283758758161|      85473|        Sophia|        Miller|sophia.miller@yah...|             3|        5|        30|Electric Kettle|      Appliances|  false|  false|   True|  false|  false|    6|     24.99|       no|   Credit Card|   not available|     0.15|not found|           127.449|     2024-07-05|               7|
|      2022-08-17|trx-410328091125|      85468|       William|         Davis|william.davis@yah...|             5|        2|        30|Electric Kettle|      Appliances|   True|  false|  false|  false|  false|    8|     24.99|       no|          Cash|   not available|     0.05|not found|189.92399999999998|     2024-07-05|               7|
|      2023-04-17|trx-683938966513|      85466|       Michael|         Brown|michael.brown@yah...|             9|        5|        30|Electric Kettle|      Appliances|  false|  false|   True|  false|  false|    9|     24.99|       no|          Cash|   not available|     0.15|not found|          191.1735|     2024-07-05|               7|
|      2023-06-26|trx-696535134068|      85552|        Olivia|         Davis|olivia.davis@outl...|             7|        3|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|   True|    2|     24.99|       no|          Cash|   not available|     0.25|not found|            37.485|     2024-07-05|               7|
|      2022-06-05|trx-130979929170|      85520|     Alexander|        Wilson|alexander.wilson@...|             1|        4|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|   10|     24.99|       no|   Credit Card|   not available|      0.0|not found|249.89999999999998|     2024-07-05|               7|
|      2022-09-25|trx-540740082897|      85514|       Michael|         Brown|michael.brown@out...|             6|        1|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    7|     24.99|       no|   Credit Card|   not available|      0.0|not found|174.92999999999998|     2024-07-05|               7|
|      2022-11-12|trx-617576769444|      85507|           Ava|        Miller|ava.miller@outloo...|             5|        4|        30|Electric Kettle|      Appliances|  false|   True|  false|  false|  false|    7|     24.99|       no|          Cash|   not available|      0.1|not found|157.43699999999998|     2024-07-05|               7|
|      2023-07-22|trx-630649759709|      85469|     Alexander|         Brown|alexander.brown@g...|             1|        1|        30|Electric Kettle|      Appliances|  false|  false|   True|  false|  false|    5|     24.99|       no|   Credit Card|   not available|     0.15|not found|          106.2075|     2024-07-05|               7|
|      2022-03-13|trx-282242636607|      85533|           Ava|        Taylor|ava.taylor@yahoo.com|            10|        4|        30|Electric Kettle|      Appliances|   True|  false|  false|  false|  false|    6|     24.99|       no|          Cash|   not available|     0.05|not found|142.44299999999998|     2024-07-05|               7|
|      2022-07-24|trx-432534329316|      85538|         James|         Smith|james.smith@yahoo...|             4|        5|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    9|     24.99|       no|   Credit Card|   not available|      0.0|not found|            224.91|     2024-07-05|               7|
|      2022-12-17|trx-936284967406|      85524|          John|         Jones|john.jones@yahoo.com|             3|        2|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    9|     24.99|       no|          Cash|   not available|      0.0|not found|            224.91|     2024-07-05|               7|
|      2023-01-14|trx-698565261187|      85495|        Olivia|         Moore|olivia.moore@yaho...|             9|        4|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    4|     24.99|       no|          Cash|   not available|      0.0|not found|             99.96|     2024-07-05|               7|
|      2022-07-14|trx-941504169670|      85523|           Mia|        Wilson|mia.wilson@gmail.com|            10|        3|        30|Electric Kettle|      Appliances|   True|  false|  false|  false|  false|    2|     24.99|       no|          Cash|   not available|     0.05|not found|47.480999999999995|     2024-07-05|               7|
|      2022-09-18|trx-428704698763|      85511|           Ava|         Moore| ava.moore@gmail.com|             3|        4|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    5|     24.99|       no|          Cash|   not available|      0.0|not found|124.94999999999999|     2024-07-05|               7|
|      2023-05-19|trx-985339341968|      85533|           Ava|        Taylor|ava.taylor@yahoo.com|             5|        2|        30|Electric Kettle|      Appliances|  false|  false|  false|   True|  false|    9|     24.99|       no|   Credit Card|   not available|      0.2|not found|           179.928|     2024-07-05|               7|
|      2022-09-15|trx-029065219829|      85526|       Michael|        Miller|michael.miller@ou...|             8|        4|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    7|     24.99|       no|          Cash|   not available|      0.0|not found|174.92999999999998|     2024-07-05|               7|
|      2022-09-27|trx-825118580916|      85517|        Olivia|         Jones|olivia.jones@hotm...|             4|        4|        30|Electric Kettle|      Appliances|  false|  false|  false|  false|  false|    6|     24.99|       no|   Credit Card|   not available|      0.0|not found|            149.94|     2024-07-05|               7|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+---------+---------+------------------+---------------+----------------+
only showing top 20 rows

In [33]:
# If renaming the table is an option, use underscore instead of hyphen
customer_dim_df.write.format("orc") \
    .mode("append") \
    .saveAsTable("TransactionsDB.Customer1_Dim")

In [34]:
product_dim_df.write.format("orc") \
    .mode("append") \
    .saveAsTable("TransactionsDB.Product1_Dim")

In [36]:
sales_data_with_location.write.format("orc") \
    .mode("append") \
    .saveAsTable("TransactionsDB.Location1_Dim")

In [37]:
date_dim_df.write.format("orc") \
    .mode("append") \
    .saveAsTable("TransactionsDB.Date1_Dim")

In [39]:
fact_df.write.format("orc") \
    .partitionBy("Extraction_Year", "Extraction_Month") \
    .mode("append") \
    .saveAsTable("TransactionsDB.Transaction_FactTable")

In [61]:
table_description = spark.sql(f"DESCRIBE FORMATTED TransactionsDB.Transaction_FactTable")
table_description.show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|      transaction_id|   string|   null|
|         customer_id|   string|   null|
|      sales_agent_id|   string|   null|
|           branch_id|   string|   null|
|          product_id|   string|   null|
|         location_id|   string|   null|
|    transaction_date|     date|   null|
|               offer|      int|   null|
|           is_online|   string|   null|
|               units|      int|   null|
|          unit_price|   double|   null|
|          total_paid|   double|   null|
|     Extraction_Year|      int|   null|
|    Extraction_Month|      int|   null|
|# Partition Infor...|         |       |
|          # col_name|data_type|comment|
|     Extraction_Year|      int|   null|
|    Extraction_Month|      int|   null|
|                    |         |       |
|# Detailed Table ...|         |       |
+--------------------+---------+-------+
only showing top 20 rows

In [63]:
table_description = spark.sql(f"DESCRIBE FORMATTED TransactionsDB.Date1_Dim")
table_description.show(6)

+----------------+---------+-------+
|        col_name|data_type|comment|
+----------------+---------+-------+
|transaction_date|     date|   null|
|             day|      int|   null|
|           month|      int|   null|
|            year|      int|   null|
|         quarter|      int|   null|
|        day_name|   string|   null|
+----------------+---------+-------+
only showing top 6 rows

In [65]:
table_description = spark.sql(f"DESCRIBE FORMATTED TransactionsDB.Location1_Dim")
table_description.show(4)

+-----------+---------+-------+
|   col_name|data_type|comment|
+-----------+---------+-------+
|location_id|   string|   null|
|       city|   string|   null|
|      state|   string|   null|
|postal_code|   string|   null|
+-----------+---------+-------+
only showing top 4 rows

In [66]:
table_description = spark.sql(f"DESCRIBE FORMATTED TransactionsDB.Transaction_FactTable")
table_description.show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|      transaction_id|   string|   null|
|         customer_id|   string|   null|
|      sales_agent_id|   string|   null|
|           branch_id|   string|   null|
|          product_id|   string|   null|
|         location_id|   string|   null|
|    transaction_date|     date|   null|
|               offer|      int|   null|
|           is_online|   string|   null|
|               units|      int|   null|
|          unit_price|   double|   null|
|          total_paid|   double|   null|
|     Extraction_Year|      int|   null|
|    Extraction_Month|      int|   null|
|# Partition Infor...|         |       |
|          # col_name|data_type|comment|
|     Extraction_Year|      int|   null|
|    Extraction_Month|      int|   null|
|                    |         |       |
|# Detailed Table ...|         |       |
+--------------------+---------+-------+
only showing top 20 rows

In [68]:
table_description = spark.sql(f"DESCRIBE FORMATTED TransactionsDB.Product1_Dim")
table_description.show(3)

+----------------+---------+-------+
|        col_name|data_type|comment|
+----------------+---------+-------+
|      product_id|   string|   null|
|    product_name|   string|   null|
|product_category|   string|   null|
+----------------+---------+-------+
only showing top 3 rows

In [76]:
table_description = spark.sql(f"DESCRIBE FORMATTED TransactionsDB.Customer1_Dim")
table_description.show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|         customer_id|              string|   null|
|      customer_fname|              string|   null|
|      cusomter_lname|              string|   null|
|      cusomter_email|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|      transactionsdb|       |
|               Table|       customer1_dim|       |
|               Owner|           itversity|       |
|        Created Time|Sat Jul 06 08:12:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.1.2|       |
|                Type|             MANAGED|       |
|            Provider|                 orc|       |
|          Statistics|          5275 bytes|       |
|            Location|hdfs://localhost:...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
+--------------------+--------------------+-------+

In [72]:
#total sold unites by product
most_selling_products_df = spark.sql("""
SELECT p.product_name, SUM(f.units) AS total_sold_units
FROM TransactionsDB.Transaction_FactTable f
JOIN TransactionsDB.Product1_Dim p ON f.product_id = p.product_id
GROUP BY p.product_name
ORDER BY total_sold_units DESC
LIMIT 10
""")

most_selling_products_df.show()

+-----------------+----------------+
|     product_name|total_sold_units|
+-----------------+----------------+
|            Boots|          204041|
|          Sandals|          203997|
|           Laptop|          103629|
|       Smartphone|          103275|
|Hair Straightener|          103257|
|            Skirt|          103004|
|          Toaster|          102779|
|        Microwave|          102702|
|          T-Shirt|          102469|
|            Dress|          102253|
+-----------------+----------------+

In [86]:
#how many time did the cutomer use the offer , kol offer zahr kam mara 
spark.sql("""
    SELECT 
        CASE offer
            WHEN 1 THEN 'offer_1'
            WHEN 2 THEN 'offer_2'
            WHEN 3 THEN 'offer_3'
            WHEN 4 THEN 'offer_4'
            WHEN 5 THEN 'offer_5'
        END AS offer,
        COUNT(*) AS total_redeemed
    FROM TransactionsDB.Transaction_FactTable
    where offer is not null
    GROUP BY offer
    ORDER BY total_redeemed DESC
    LIMIT 5
""")

+-------+--------------+
|  offer|total_redeemed|
+-------+--------------+
|offer_2|         55696|
|offer_1|         55665|
|offer_3|         55563|
|offer_5|         55542|
|offer_4|         55534|
+-------+--------------+

In [83]:
#a3la offer zahr per product, w zahr kam mara m3 l product 
spark.sql("""
    WITH offer_details AS (
        SELECT product_id,offer,COUNT(*) AS total_redeemed FROM TransactionsDB.Transaction_FactTable
        WHERE offer IS NOT NULL GROUP BY product_id, offer ),
    ranked_offers AS (
        SELECT  product_id,offer,total_redeemed,
            ROW_NUMBER() OVER (PARTITION BY product_id ORDER BY total_redeemed DESC) AS rank
        FROM offer_details)
    SELECT  p.product_name,
        CASE 
            WHEN ro.offer = 1 THEN 'offer_1'
            WHEN ro.offer = 2 THEN 'offer_2'
            WHEN ro.offer = 3 THEN 'offer_3'
            WHEN ro.offer = 4 THEN 'offer_4'
            WHEN ro.offer = 5 THEN 'offer_5'
            ELSE 'other_offer'
        END AS most_redeemed_offer,
        ro.total_redeemed
    FROM ranked_offers ro
    JOIN TransactionsDB.Product1_Dim p ON ro.product_id = p.product_id
    WHERE ro.rank = 1
    ORDER BY ro.total_redeemed DESC
""")

+-----------------+-------------------+--------------+
|     product_name|most_redeemed_offer|total_redeemed|
+-----------------+-------------------+--------------+
|       Hair Dryer|            offer_1|          1981|
|            Skirt|            offer_3|          1958|
|          Toaster|            offer_1|          1941|
|          T-Shirt|            offer_2|          1937|
|           Laptop|            offer_5|          1932|
|Hair Straightener|            offer_3|          1931|
|  Washing Machine|            offer_2|          1929|
|       Smartphone|            offer_3|          1927|
|             Iron|            offer_4|          1924|
|           Camera|            offer_3|          1916|
|          Sandals|            offer_4|          1908|
|           Tablet|            offer_2|          1898|
|           Hoodie|            offer_2|          1896|
|       Headphones|            offer_1|          1896|
|          Printer|            offer_3|          1894|
|            Boots|            offer_2|          1893|
|         Sneakers|            offer_3|          1892|
|          Sandals|            offer_5|          1889|
|            Dress|            offer_1|          1887|
|     Coffee Maker|            offer_1|          1881|
+-----------------+-------------------+--------------+
only showing top 20 rows

In [ ]:
spark.conf.get("spark.sql.warehouse.dir")

In [13]:

lowest_online_sales_cities_df = spark.sql("""
SELECT l.city, round(SUM(f.total_paid),2) AS online_sales
FROM  TransactionsDB.Transaction_FactTable f
JOIN TransactionsDB.Location1_Dim l ON f.location_id = l.location_id
WHERE f.is_online = 'yes'
GROUP BY l.city
ORDER BY online_sales ASC
LIMIT 10
""")

lowest_online_sales_cities_df.show()

+-------------+------------+
|         city|online_sales|
+-------------+------------+
|        Linda|     2189.48|
|      Fairfax|     3328.56|
| Tyngsborough|     3717.47|
|     Oakhurst|     3802.57|
|Nichols Hills|     3887.52|
|       Palmer|     4116.54|
|  Wheat Ridge|      4287.4|
|     Redlands|     4485.43|
| West Windsor|     4533.49|
|  North Adams|     4580.31|
+-------------+------------+